name: Ubuntu Build (GCC/Clang)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - compiler_name: gcc
            cc: gcc
            cxx: g++
          - compiler_name: clang
            cc: clang
            cxx: clang++

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Configure CMake
      run: >
        cmake -B build
        -DCMAKE_C_COMPILER=${{ matrix.cc }}
        -DCMAKE_CXX_COMPILER=${{ matrix.cxx }}
        -DCMAKE_BUILD_TYPE=Release

    - name: Build
      run: cmake --build build --parallel $(nproc)

    - name: Test
      working-directory: build
      run: ctest --output-on-failure
